<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>com.rainmoon.bs.TestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SurveyGenerator</servlet-name>
        <servlet-class>com.rainmoon.bs.FirstSurveyGenerator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SurveyHandler</servlet-name>
        <servlet-class>com.rainmoon.bs.FirstSurveyHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SecondSurveyGenerator</servlet-name>
        <servlet-class>com.rainmoon.bs.SecondSurveyGenerator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SecondSurveyHandler</servlet-name>
        <servlet-class>com.rainmoon.bs.SecondSurveyHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/TestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SurveyGenerator</servlet-name>
        <url-pattern>/apple</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SurveyHandler</servlet-name>
        <url-pattern>/eatApple</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SecondSurveyGenerator</servlet-name>
        <url-pattern>/orange</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SecondSurveyHandler</servlet-name>
        <url-pattern>/eatOrange</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
