<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rainmoon.podcast"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Android 1.5 requires this -->
    <uses-permission android:name="com.rainmoon.podcast.READFEEDS" />
    <uses-permission android:name="com.rainmoon.podcast.WRITEFEEDS" />

    <permission
        android:name="com.rainmoon.podcast.READFEEDS"
        android:description="@string/permission_readfeeds_description"
        android:label="@string/permission_readfeeds"
        android:protectionLevel="normal" />
    <permission
        android:name="com.rainmoon.podcast.WRITEFEEDS"
        android:description="@string/permission_writefeeds_description"
        android:label="@string/permission_writefeeds"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:testOnly="false"
        android:theme="@style/Theme.Light" >
        <service android:name=".service.RefreshService" />
        <service android:name=".service.FetcherService" />

        <provider
            android:name=".provider.FeedDataContentProvider"
            android:authorities="com.rainmoon.podcast.provider.FeedData"
            android:readPermission="com.rainmoon.podcast.READFEEDS"
            android:writePermission="com.rainmoon.podcast.WRITEFEEDS" />

        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AllSubscriptionsActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".SingleSubscriptionActivity"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.dir/vnd.feeddata.entry" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FeedItemActivity"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/vnd.feeddata.entry" />
            </intent-filter>
        </activity>
        <activity android:name=".preference.PreferencesActivityCompatability" />
        <activity android:name=".preference.PreferencesActivityV11" />
        <activity android:name=".EditSubscriptionActivity" >
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/vnd.feeddata.feed" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.INSERT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.dir/vnd.feeddata.feed" />
            </intent-filter>
        </activity>

        <receiver android:name=".receiver.RefreshBroadcastReceiver" >
            <intent-filter>
                <action android:name="com.rainmoon.podcast.REFRESH" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.SDMountBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.rainmoon.podcast.RESTART" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.BootCompletedBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>